<!DOCTYPE html> <!-- Declara o tipo do documento como HTML5 -->
<html lang="pt-BR"> <!-- Define o idioma da página como Português do Brasil -->
<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Define a escala inicial e o tamanho da viewport para dispositivos móveis -->
    <title>Erro Login</title> <!-- Define o título da página que aparece na aba do navegador -->
    <link rel="stylesheet" href="/css/styleError.css"> <!-- Link para o arquivo CSS externo que estiliza a página -->
</head>
<body>

    <!-- Div principal que contém a mensagem de erro e o botão -->
    <div class="container">

        <!-- Mensagem de erro exibida para o usuário -->
        <h3>Usuário ou Senha Inválidos.</h3>

        <!-- Botão que permite ao usuário voltar para a página inicial -->
        <button class="logout-button" onclick="logout()">Voltar</button>
    </div>

    <!-- Script JavaScript para a funcionalidade do botão -->
    <script>

        // Função chamada quando o botão "Voltar" é clicado
        function logout() {
            
            // Redireciona o usuário para a página inicial
            window.location.href = '/';
        }
    </script>
</body>
</html>
